<!DOCTYPE html>
<html lang="uz" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Buyurtmalar</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Sizning buyurtmalaringiz</h1>
<table>
    <tr>
        <th>Buyurtma ID</th>
        <th>Sana</th>
        <th>Holati</th>
        <th>Umumiy narx</th>
    </tr>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.orderDate}"></td>
        <td th:text="${order.status}"></td>
        <td>
                <span th:with="total=0">
                    <th:block th:each="item : ${order.orderItems}">
                        <th:block th:with="total=${total + item.price * item.quantity}"/>
                    </th:block>
                    <span th:text="${total}"></span>
                </span>
        </td>
    </tr>
</table>
</body>
</html>