<!DOCTYPE html>
<html lang="uz" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Mahsulot tafsilotlari</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 th:text="${product.name}"></h1>
<p>Tavsifi: <span th:text="${product.description}"></span></p>
<p>Narxi: <span th:text="${product.price}"></span></p>
<p>Zahira: <span th:text="${product.stock}"></span></p>
<a th:href="@{/cart/add(userId=1,productId=${product.id},quantity=1)}">Savatchaga qo‘shish</a>
<br/>
<a th:href="@{/products}">Orqaga</a>
</body>
</html>