<!DOCTYPE html>
<html lang="uz" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Mahsulotlar</title>
    <link rel="stylesheet" th:href="@{/web/WEB-INF/templates/css/style.css}"/>
</head>
<body>
<h1>Mahsulotlar ro‘yxati</h1>
<table>
    <tr>
        <th>Nomi</th>
        <th>Narxi</th>
        <th>Amallar</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td>
            <a th:href="@{/products/{id}(id=${product.id})}">Ko‘rish</a>
            <a th:href="@{/cart/add(userId=1,productId=${product.id},quantity=1)}">Savatchaga qo‘shish</a>
        </td>
    </tr>
</table>
</body>
</html>